
*.lock

exerciciosResolvidos/Workspace/Classes/build/
exerciciosResolvidos/Workspace/ComandosEntradaSaida/build/
exerciciosResolvidos/Workspace/Comentarios/build/
exerciciosResolvidos/Workspace/EstruturasDeRepeticao/build/
exerciciosResolvidos/Workspace/EstruturasDeSelecao/build/
exerciciosResolvidos/Workspace/Heranca/build/
exerciciosResolvidos/Workspace/InterfacesGraficas/build/
exerciciosResolvidos/Workspace/OrientacaoAObjetos/build/
exerciciosResolvidos/Workspace/TodoApp/build/
exerciciosResolvidos/Workspace/VariaveisTiposOperadores/build/

exerciciosResolvidos/Workspace/Classes/.gradle/
exerciciosResolvidos/Workspace/Classes/.gradle/
exerciciosResolvidos/Workspace/ComandosEntradaSaida/.gradle/
exerciciosResolvidos/Workspace/Comentarios/.gradle/
exerciciosResolvidos/Workspace/EstruturasDeRepeticao/.gradle/
exerciciosResolvidos/Workspace/EstruturasDeSelecao/.gradle/
exerciciosResolvidos/Workspace/Heranca/.gradle/
exerciciosResolvidos/Workspace/InterfacesGraficas/.gradle/
exerciciosResolvidos/Workspace/OrientacaoAObjetos/.gradle/
exerciciosResolvidos/Workspace/TodoApp/.gradle/
exerciciosResolvidos/Workspace/VariaveisTiposOperadores/.gradle/


